.header {
    margin-top: 70px;
    background-color: $primary;
    padding: 10px;
    position: relative;
    background-image: url('/assets/images/triangle.svg'), url('/assets/images/circle.svg');
    background-repeat: no-repeat;
    background-position: 106% 100%, 120% 200%;
    @media screen and (min-width: 768px) {
        padding: $spacing;
        background-position: 96% 200%, 90% 140%;
    }
    @media screen and (min-width: 1200px) {
        padding: $spacing;
        background-position: 76% 200%, 75% 140%;
    }
    &__title {
        color: $white;
        font-family: 'SpaceMono', sans-serif;
        font-weight: 400;
        text-align: center;
    }
    &__genre {
        font-weight: 600;
        background-color: $accent-contrast;
        background-image: linear-gradient(45deg, $accent-contrast, $accent-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        display: inline-block;
        width: 100%;
        @media screen and (min-width: 768px) {
            display: inline;
            width: unset;
        }
    }
}